*.log
*.wants
__pycache__
qutebrowser/.config/qutebrowser/autoconfig.yml
qutebrowser/.config/qutebrowser/private-whitelist
qutebrowser/.config/qutebrowser/qsettings
mpd/.config/mpd/database
mpd/.config/mpd/mpd.log
mpd/.config/mpd/pid
mpd/.config/mpd/playlists
mpd/.config/mpd/state
mpd/.config/mpd/sticker.sql
ranger/.config/ranger/plugins/
.zcompdump-*