#!/bin/sh
#
# X11-specific login script (after ~/.profile).

have() { type "$1" > /dev/null 2>&1; }

if have compton; then
    if [ -f "$XDG_CONFIG_HOME/compton/compton.conf" ]; then
	compton --config "$XDG_CONFIG_HOME/compton/compton.conf" &
    else
	compton &
    fi
fi

if have emacs; then
    emacs --daemon &
fi

if have mpd; then
    [ ! -s "$XDG_CONFIG_HOME/mpd/pid" ] && mpd &
fi

if have syncthing; then
    syncthing -no-browser &
fi

if have xbindkeys; then
    xbindkeys &
fi
