! To update X apps configuration : xrdb -merge ~/.Xresources

! Colorscheme
#include ".Xresources.d/colorscheme"

! Emacs settings
#include ".Xresources.d/emacs"

! Font settings
#include ".Xresources.d/fonts"

! Rofi settings
#include ".Xresources.d/rofi"