#entry:selected {
  background-color: #4c566a;
  color: #2e3440;
}

#input {
  border: none;
  border-radius: 0px;
}

#text {
  margin-left: 1em;
}

window {
  opacity: 0.9;
  border: 2px solid #2e3440;
  background-color: #3b4252;
  color: #eceff4;
  border-radius: 5px;
}
