[Unit]
Description=Mailbox synchronization service
Wants=network-online.target gpg-agent.socket
After=network.target network-online.target dbus.socket gpg-agent.socket

[Service]
Type=oneshot
ExecStart=mbsync -c /home/someone/.config/isync/mbsyncrc -a
Environment=MU_HOME="%C/mu"
StandardOutput=syslog
StandardError=syslog