[Unit]
Description=Mailbox synchronization service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -c /home/someone/.config/isync/mbsyncrc -a
StandardOutput=syslog
StandardError=syslog