[Unit]
Description=Mailbox synchronization service
Wants=network-online.target
Requires=gpg-agent.socket
After=network-online.target gpg-agent.socket network.target dbus.socket

[Service]
Type=oneshot
ExecStart=mbsync -c /home/someone/.config/isync/mbsyncrc -a
Environment=MU_HOME="%C/mu"
