[Unit]
Description=RSS/Atom feed synchronization service
Wants=network-online.target
After=network.target network-online.target dbus.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/newsboat -u /home/someone/.config/newsboat/urls -x reload
StandardOutput=syslog
StandardError=syslog