[Unit]
Description=RSS/Atom feed synchronization service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/newsboat -u /home/someone/.config/newsboat/urls -x reload
StandardOutput=syslog
StandardError=syslog