# Assign applications to their own workspace
assign [class="URxvt"]         → $ws1
assign [class="Chromium"]      → $ws2
assign [class="Emacs"]         → $ws3
assign [class="Skype Preview"] → $ws5
assign [class="Gimp"]          → $ws6
assign [class="Steam"]         → $ws7
assign [class="VirtualBox"]    → $ws8
assign [class="TeamViewer"]    → $ws8

for_window [class="Spotify"] move to workspace $ws4
for_window [class="chromium"] border none
